@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}

/* Contenedor del scroll */
.overflow-x-hidden {
    overflow-x: scroll;
    scrollbar-width: none; /* Para Firefox */
}

.overflow-x-hidden::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari, y Opera */
}


.radial-mask {
  mask-image: radial-gradient(circle at center, transparent 20%, black 100%);
  mask-size: cover;
}

.radial-mask-invert {
    mask-image: radial-gradient(circle at center, black , transparent 90%);
    mask-size: cover;
  }